
body {
    background-color: white;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}
tr:hover {
    background-color: powderblue;
}
h1, p{
    color: black;
}
a:link, a:visited, a:active{
    text-decoration: none;
}
